:root {
	/* 16/9 = 1.777777777777778 */
	/* 100 / (16/9) = 56.249999999999993 */
	--aspect-ratio: calc(16 / 9);
	--ar: var(--aspect-ratio);
	--rel-size-h: 100vh;
	--rel-size-w: 100vw;
}

video {
	width: 100%;
}

.ar-16-by-9 {
	width: var(--rel-size-w);
	max-width: calc(var(--rel-size-h) * var(--ar));
	height: calc(var(--rel-size-w) / var(--ar));
	max-height: var(--rel-size-h);
}

.center-vh {
	position: absolute;
	margin: auto;
	inset: 0;
}
